<div class="paginator">
    <select class="sorting" #sortparam (change)="UpdateSortBy(sortparam.value)">
        <option value="name" selected>Name</option>
        <option value="absolute_magnitude">Absolute magnitude</option>
        <option value="diameter">Diameter</option>
        <option value="mass">Mass</option>
        <option value="visible_size">Visible size</option>
        <option value="distance">Distance</option>
    </select>
    <button class="sorting-direction" (click)="OnSortDirectionChange()">
        <img class="sort-direction-img" *ngIf="pagination.sorting_direction == 'ascending'"
             src="/direction-ascending.png">
        <img class="sort-direction-img" *ngIf="pagination.sorting_direction == 'descending'"
             src="/direction-descending.png">
    </button>
    <select class="per-page-select" #perpage (change)="UpdatePerPage(perpage.value)">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
    <div class="results" *ngIf="total_objects > 1">Showing {{ start }} - {{ end }} of {{ total_objects }} stars</div>
    <div class="results" *ngIf="total_objects == 1"> Showing {{ total_objects }} star</div>
    <button type="button" class="input firstpage" (click)="FirstPage()" [disabled]="isFirstPage"></button>
    <button type="button" class="input prevpage" (click)="PreviousPage()" [disabled]="isFirstPage"></button>
    <button type="button" class="input nextpage" (click)="NextPage()" [disabled]="isLastPage"></button>
    <button type="button" class="input lastpage" (click)="LastPage()" [disabled]="isLastPage"></button>
</div>
