.input {
    background: var(--dark);
    padding: 10px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
}

.firstpage {
    background: url(/pagination/firstpage_enabled.png) no-repeat center center;
}

.firstpage:disabled {
    background: url(/pagination/firstpage_disabled.png) no-repeat center center;
}

.prevpage {
    background: url(/pagination/prevpage_enabled.png) no-repeat center center;
}

.prevpage:disabled {
    background: url(/pagination/prevpage_disabled.png) no-repeat center center;
}

.nextpage {
    background: url(/pagination/nextpage_enabled.png) no-repeat center center;
}

.nextpage:disabled {
    background: url(/pagination/nextpage_disabled.png) no-repeat center center;
}

.lastpage {
    background: url(/pagination/lastpage_enabled.png) no-repeat center center;
}

.lastpage:disabled {
    background: url(/pagination/lastpage_disabled.png) no-repeat center center;
}


select {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
}

.per-page-select {
    background-color: var(--accent-1);
    border-radius: 10px;
    margin: 0 10px;
    color: black;
}

.paginator {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

.results {
    padding: 10px 20px;
    text-align: center;
    color: white;
}

.sorting {
    background: white url(/pagination/sorting.png) no-repeat left 10px center;
    padding: 10px 10px 10px 40px;
    border-radius: 10px 0 0 10px;
    border-right: var(--dark-accent) 1px solid;
}

.sorting-direction {
    height: 38px;
    width: 35px;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    align-items: center;
}

.sort-direction-img {
    width: 60%;
    height: 60%;
}
