.toolbar {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-accent-2);
}

.new-button {
    height: 40px;
    box-sizing: border-box;
    background: var(--accent-1) url(/toolbar/add_sign.png) no-repeat left 10px center;
    padding: 1px 40px 0 50px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin: 15px 40px;
}

.view-tools {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.view-tools .view-tool {
    height: 40px;
    box-sizing: border-box;
    padding: 1px 40px 0 50px;
    border-radius: 10px;
    margin: 15px 40px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transition: 0.3s;
}

.view-tools .view-tool:disabled {
    border: 2px solid var(--dark-accent);
    color: var(--dark-accent);
}

/*noinspection CssUnusedSymbol*/
.filter-off {
    background: white url(/toolbar/filter.png) no-repeat left 10px center;
}

/*noinspection CssUnusedSymbol*/
.filter-on {
    background: var(--accent-1) url(/toolbar/filter.png) no-repeat left 10px center;
}

.filtering-button:disabled {
    background: var(--dark-accent-2) url(/toolbar/filter-disabled.png) no-repeat left 10px center;
}

/*noinspection CssUnusedSymbol*/
.visible-stars-off {
    background: white url(/toolbar/star-eye.png) no-repeat left 10px center;
}

/*noinspection CssUnusedSymbol*/
.visible-stars-on {
    background: var(--accent-1) url(/toolbar/star-eye.png) no-repeat left 10px center;
}

.visible-stars-button:disabled {
    background: var(--dark-accent-2) url(/toolbar/star-eye-disabled.png) no-repeat left 10px center;
}

@media (min-width: 1500px) {
    .toolbar {
        padding-right: calc((100vw - 1500px) / 2);
        padding-left: calc((100vw - 1500px) / 2);
    }
}
