.form-label {
    color: white;
    font-weight: bold;
    margin: 20px 40px;
    font-size: 40px;
}

.param-label {
    width: 200px;
}

.star-form {
    display: flex;
    flex-direction: column;
    justify-content: right;
    border-radius: 10px;
    padding: 20px 100px;
    gap: 10px;
    background-color: var(--dark-accent-2);
}

.star-form input {
    box-sizing: border-box;
    width: 650px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    background: var(--dark-accent);
    padding: 10px;
    margin-right: 10px;
}

.star-form label {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
}

.error-msg {
    margin-left: 200px;
    font-size: 12px;
    color: red;
}

.options {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 10px;
}

.option {
    height: 40px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

.save-button {
    background-color: var(--accent-1);
    color: black;
}

.cancel-button {
    box-sizing: border-box;
    background-color: var(--dark-accent-2);
    border: var(--accent-1) solid 2px;
    color: white;
}


@media (min-width: 1500px) {
    .details-container {
        margin-right: calc((100vw - 1500px) / 2);
        margin-left: calc((100vw - 1500px) / 2);
    }
}
