/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

:root {
    --dark: #1b2122;
    --dark-accent: #40565c;
    --dark-accent-2: #2E3C3F;
    --odd-color: #a1aace;
    --accent-1: #83d2e3;
    --accent-2: #b2cbd1;
}

html, body {
    height: 100%;
}

body {
    font-family: "Liberation Sans", sans-serif;
    background-color: var(--dark);
}

/*hiding the arrows from input type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
