.logo {
    height: 60px;
    color: var(--accent-1);
    background-color: var(--dark-accent);
    flex: 0 0 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    text-underline: none;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-self: center;
    border-bottom: 1px solid var(--accent-2);
}


@media (min-width: 1500px) {
    .top-bar {
        padding-right: calc((100vw - 1500px) / 2);
        padding-left: calc((100vw - 1500px) / 2);
    }
}
